Tingkat kerentanan persebaran COVID-19 di Kec. {{fullName}} adalah <b>{{vul}}</b>. 
Tetap tenang, jaga jarak & selalu gunakan masker jika keluar rumah. 
Sumber data: https://covid19.go.id/peta-sebaran, dibaca bot pada {{lastSync}} WIB.